<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALMACEN</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
</head>

<body>
    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-dark bg-dark container">
            <a href="/" class="navbar-brand">ALMACEN</a>
        </nav>
    </div>